@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Cabin Condensed", sans-serif;
}

body {
    background-color: #303030;
    background-image: url('src/assets/background.png');
    background-size: cover;
}

.react-app {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

/* Modal Styling */
.mode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mode-box {
    display: flex;
    gap: 3rem;
}

.modal-box {
    position: relative;
    width: 25%;
    opacity: 0;
    animation: 1s ease 0s slide-and-fade-in;
    animation-fill-mode: both;
}

.modal-box:nth-child(2) {
    animation-delay: .5s;
}
  
.modal-box:nth-child(3) {
    animation-delay: 1s;
}

.modal-box:nth-child(4) {
    animation-delay: 1.5s;
}

.modal-box:nth-child(5) {
    animation-delay: 2s;
}

.modal-img {
    width: 325px;
    height: 500px;
}

@keyframes slide-and-fade-in {
    0% {
      left: -100px;
      opacity: 0;
    }
  
    100% {
      left: 0px;
      opacity: 1.0;
    }
}

.saga-title {
    color: white;
    text-align: center;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.h-saga-title {
    width: 1000px;
    text-align: center;
}

.h-score-container {
    width: 380px;
    display: flex;
    gap: 1rem;
}

/* Main Game Container */
.game-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

/* Card Styling */
.teq, .steq, .eteq {
    background-color: #004f17;
    border-color: #117721 !important;
}

.agl, .sagl, .eagl {
    background-color: #23127d;
    border-color: #3315c6 !important;
}

.str, .sstr, .estr {
    background-color: #711100;
    border-color: #991c00 !important;
}

.phy, .sphy, .ephy {
    background-color: #aa7500;
    border-color: #e6b044 !important;
}

.int, .sint, .eint {
    background-color: #660071;
    border-color: #84048a !important;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.card {
    width: fit-content;
    position: relative;
    padding: .5rem 1rem;
    border: 1px solid;
}

.card-img {
    width: fit-content;
}

.card-rarity, .card-type {
    position: absolute;
}

.card-type {
    width: 12%;
    top: 15%;
    left: 8%;
}

.card-rarity {
    width: 21%;
    left: 5%;
}

.card-nt {
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid;
}

.card-name, .card-title {
    max-width: 426px;
    font-weight: bold;
    font-style: italic;
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
    margin: 1rem 1rem 0;
}

.card-name {
    font-size: 25px;
}

.card-title {
    font-size: 18px;
}

/* Game Over screen */
.game-over {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
    color: white;
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}

.go-inner-cont {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.go-message {
    width: 400px;
    text-align: center;
    margin-top: 1rem;
}

.go-buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2.5rem;
}

.go-button {
    cursor: pointer;
    transition: .25s all;
}

.go-button:hover {
    transform: scale(1.5);
}

/* Volume Switch*/
.volume-switch {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    cursor: pointer;
}